<div align="center"><%= render "layouts/titleblock_user" %>	</div>
<br>



					<div class="sayit_featured_posts_widget">
						<div class="sayit_widget_container sayit_mb_10">
							<div class="sayit_featured_posts sayit_items_3">
                  <%= will_paginate %>
                  <% @users.each do |user| %>
								<!-- Item 1 -->
								<div class="sayit_posts_item">
									<div class="sayit_fimage_cont">
										<a href="post_standard.html">
										 <%= link_to gravatar_for(user), user_path(user) %>
										</a>
									</div>

									<h4 class="sayit_post_title">
										<a href="post_standard.html"><%= link_to user.username, user_path(user) %></a>
									</h4>

									<div class="sayit_excerpt"><small><%= pluralize(user.articles.count, "article") if user.articles %></div>
                     
                    <% if logged_in? %>          
                    <%= link_to "Delete this user", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>         
                    <% end %>
								</div>

                  <% end %>
                  <%= will_paginate %>
							</div>
						</div>
					</div>

            <br>
            <br>