	<!-- Footer -->

<div class="sayit_footer">
		<!-- Footer Instagram -->
		<div class="sayit_photostream">
			<div class="instagallery">
				<!-- Item 1 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
						<%= image_tag ("Blog_1") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								0
							</span>
						</span>
					</a>
				</div>

				<!-- Item 2 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
						<%= image_tag ("Blog_2") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
					</a>
				</div>

				<!-- Item 3 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
						<%= image_tag ("Blog_3") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
					</a>
				</div>

				<!-- Item 4 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
						<%= image_tag ("Blog_4") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								2
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
					</a>
				</div>

				<!-- Item 5 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
						<%= image_tag ("Blog_5") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								0
							</span>
						</span>
					</a>
				</div>

				<!-- Item 6 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
							<%= image_tag ("Blog_6") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
					</a>
				</div>

				<!-- Item 7 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
							<%= image_tag ("Blog_7") %>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								1
							</span>
						</span>
					</a>
				</div>

				<!-- Item 8 -->
				<div class="ig-item">
					<a href="javascript:void(0)">
							<%= image_tag ("Blog_8")%>

						<span class="ig-likes-comments">
							<span>
								<i class="fa fa-heart"></i>
								1
							</span>

							<span>
								<i class="fa fa-comment"></i>
								0
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>


    
		<!-- Back To Top -->
		<a class="sayit_back_to_top" href="javascript:void(0)">Top</a>

		<footer class="sayit_footer_type_simple">
			<div class="row">
				<div class="col col-12">
					<div class="row align-middle">
						<div class="col col-2 sayit_footer_logo_container">
							<a class="sayit_image_logo sayit_retina" href="index.html"></a>
						</div>

						<div class="col col-10 sayit_footer_menu_container">
							<div class="menu-footer-menu-container">
								<ul class="sayit_footer_menu">
                  <li class="menu-item"><%= link_to "Home", root_path %></li>
                  <li class="menu-item"><%= link_to "About", about_path %></li> 
                 <li class="menu-item" text-center><small>Copyright &copy; Elisha Tigah</a> </small></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>


