

<header>
  
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  
  
  
		<div class="row align-middle sayit_logo_left">
			<div class="col sayit_logo_container col-2">
				<div class="sayit_logo_cont">
					<a class="sayit_image_logo sayit_retina" href="index.html"></a>
				</div>

				<div class="sayit_menu_mobile_trigger">
					<div class="sayit_trigger_container">
						<div class="sayit_trigger_inner">

						</div>
					</div>
				</div>
			</div>

			<div class="col sayit_menu_container col-8">
				<div class="sayit_menu_cont">

					<div class="sayit_menu_inner">
						<ul class="sayit_menu sayit_header_menu">
							<!-- Articles List Link-->
              <li class="menu-item"><%= link_to "Articles", articles_path %></li>

              <% if logged_in? %>
          
              <li class="menu-item"><%= link_to "New Article", new_article_path %></li>
   
              <% end %>
              
							<!-- User Link -->
							<li class="menu-item"><%= link_to "Users", users_path %></li>
             
           
            							<!-- Categories Link -->
							<li class="menu-item-has-children menu-item">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>-->
								<a href="#">Categories</a> 

								<ul class="sub-menu">
                  <% Category.all.each do |category| %>
									<li class="menu-item"><%= link_to category.name, category_path(category) %></li>
                  <% end %>
                  <% if logged_in? %>
									<li class="menu-item"><%= link_to "Create New Category", new_category_path %></li>
                  <% end %>
								</ul>
							</li>
              <li class="menu-item"></li>
              
                  <!--
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
-->
              
            </ul>
            
            
          <ul class="sayit_menu sayit_header_menu">
             <% if logged_in? %>
                       
              <li class="menu-item"><%= link_to "Log out", logout_path, method: :delete %></li>
            <li class="menu-item-has-children menu-item">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>-->
								<a href="#">Your Profile</a> 

								<ul class="sub-menu">        
									<li class="menu-item"><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
                  <li class="menu-item"><%= link_to "View your profile", user_path(current_user) %></li>
            
              
                  
								</ul>
            </li>
                </ul>
            
               <% else %>      
<ul class="sayit_menu sayit_header_menu">
                   <li class="menu-item"><%= link_to "Log in", login_path %></li>    
      
                   <li class="menu-item"><%= link_to "Sign up", signup_path %></li>
            </ul>    
						  <% end %>
         
    
					</div>
				</div>
			</div>
<!-- Search button -->
			<div class="col sayit_header_socials_and_search_container col-2 sayit_text_align_right">
				<div class="sayit_header_socials">
					<a class="sayit_footer_social_button sayit_facebook" href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
					<a class="sayit_footer_social_button sayit_twitter" href="https://twitter.com/"><i class="icon-twitter"></i></a>
					<a class="sayit_footer_social_button sayit_linkedin" href="https://www.linkedin.com/"><i class="icon-linkedin"></i></a>
				</div>

				<div class="sayit_header_search_container">
					<a class="sayit_header_search_button" href="javascript:void(0)"><i class="icon-search"></i></a>

					<div class="sayit_header_search_popup">
						<div class="sayit_header_search_content_cont">
							<form name="header_search_form" id="header_search_form" class="sayit_search_form" method="get">
								<span class="sayit_icon_search"><i class="fa fa-search"></i></span>
								<input type="text" name="s" placeholder="Search" title="Search the site..." class="sayit_field_search" form="header_search_form">
								<div class="clear"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
      
      
		</div>

	</header>
