

<header>
  
		<div class="row align-middle sayit_logo_left">
			<div class="col sayit_logo_container col-2">
				<div class="sayit_logo_cont">
					<a class="sayit_image_logo sayit_retina" href="index.html"></a>
				</div>

				<div class="sayit_menu_mobile_trigger">
					<div class="sayit_trigger_container">
						<div class="sayit_trigger_inner">

						</div>
					</div>
				</div>
			</div>
      
			<div class="col sayit_menu_container col-8">
				<div class="sayit_menu_cont">

					<div class="sayit_menu_inner">
						<ul class="sayit_menu sayit_header_menu">
							<!-- Articles List Link-->
              <li class="menu-item"><%= link_to "Articles", articles_path %></li>

              <% if logged_in? %>
          
              <li class="menu-item"><%= link_to "New Article", new_article_path %></li>
   
              <% end %>
              
							<!-- User Link -->
							<li class="menu-item"><%= link_to "Users", users_path %></li>
             
           
            							<!-- Categories Link -->
							<li class="menu-item-has-children menu-item">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>-->
								<a href="#">Categories</a> 

								<ul class="sub-menu">
                  <% Category.all.each do |category| %>
									<li class="menu-item"><%= link_to category.name, category_path(category) %></li>
                  <% end %>
                  <% if logged_in? %>
									<li class="menu-item"><%= link_to "Create New Category", new_category_path %></li>
                  <% end %>
								</ul>
							</li>
              <li class="menu-item"></li>
              
                  <!--
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
-->
              
            </ul>
            
            
          <ul class="sayit_menu sayit_header_menu">
             <% if logged_in? %>
                       
              <!--<li class="menu-item"><%= link_to "Log out", logout_path, method: :delete %></li> -->
             <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <li class="menu-item-has-children menu-item">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>-->
								<a href="#">Your Profile</a> 

								<ul class="sub-menu">        
									<li class="menu-item"><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
                  <li class="menu-item"><%= link_to "View your profile", user_path(current_user) %></li>
            
              
                  
								</ul>
            </li>
                </ul>
            
               <% else %>      
<ul class="sayit_menu sayit_header_menu">
                   <li class="menu-item"><%= link_to "Log in", login_path %></li>    
      
                   <li class="menu-item"><%= link_to "Sign up", signup_path %></li>
            </ul>    
						  <% end %>
         
    
					</div>
				</div>
			</div>

      
      
		</div>
  
 
  
  
  <div class="sayit_menu_mobile">
			<ul class="sayit_menu">
				<!-- Start Here -->
				<li class="menu-item-has-children menu-item current-menu-ancestor">
					<a href="javascript:void(0)">Start Here</a>

					<ul class="sub-menu">
						<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
						<li class="menu-item"><a href="about.html">About Me</a></li>
						<li class="menu-item"><a href="plan_trip.html">Plan Your Trip</a></li>
					</ul>
				</li>

				<!-- Blog -->
				<li class="menu-item-has-children menu-item">
					<a href="javascript:void(0)">Blog</a>

					<ul class="sub-menu">
						<li class="menu-item"><a href="blog_classic.html">Blog Classic</a></li>
						<li class="menu-item"><a href="blog_modern.html">Blog Modern</a></li>
						<li class="menu-item"><a href="blog_grid.html">Blog Grid</a></li>
						<li class="menu-item"><a href="blog_masonry.html">Blog Masonry</a></li>
						<li class="menu-item"><a href="blog_masonry_2.html">Blog Masonry Type 2</a></li>
						<li class="menu-item"><a href="blog_packery.html">Blog Packery</a></li>
						<li class="menu-item-has-children menu-item">
							<a href="javascript:void(0)">Single Posts</a>

							<ul class="sub-menu">
								<li class="menu-item"><a href="post_standard.html">Standard Post</a></li>
								<li class="menu-item"><a href="post_image.html">Image Post</a></li>
								<li class="menu-item"><a href="post_video.html">Video Post</a></li>
								<li class="menu-item"><a href="post_audio.html">Audio Post</a></li>
								<li class="menu-item"><a href="post_quote.html">Quote Post</a></li>
								<li class="menu-item"><a href="post_link.html">Link Post</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<!-- Places -->
				<li class="menu-item-has-children menu-item">
					<a href="javascript:void(0)">Places</a>

					<ul class="sub-menu">
						<li class="menu-item"><a href="places_usa.html">USA</a></li>
						<li class="menu-item"><a href="places_india.html">India</a></li>
						<li class="menu-item"><a href="places_germany.html">Germany</a></li>
						<li class="menu-item"><a href="places_turkey.html">Turkey</a></li>
						<li class="menu-item"><a href="places_italy.html">Italy</a></li>
						<li class="menu-item"><a href="places_uk.html">United Kingdom</a></li>
						<li class="menu-item"><a href="places_france.html">France</a></li>
					</ul>
				</li>

				<!-- Pages -->
				<li class="menu-item-has-children menu-item">
					<a href="javascript:void(0)">Pages</a>

					<ul class="sub-menu">
						<li class="menu-item"><a href="typography.html">Typography</a></li>
						<li class="menu-item"><a href="coming_soon.html">Coming Soon</a></li>
					</ul>
				</li>

				<!-- Contacts -->
				<li class="menu-item"><a href="contacts.html">Contacts</a></li>
			</ul>
		</div>

	</header>
