					<!-- Post Slider -->
					<div class="sayit_fullwidth_block">
						<div class="sayit_post_slider_widget">
							<div class="sayit_widget_container">
								<div class="sayit_post_slider_cont">
									<div class="sayit_post_slider_wrapper" id="sayit_post_slider_123344" data-autoplay="off" data-pause="yes" data-speed="8000" data-default-height="800">
										<!-- Item 1 -->
										<div class="sayit_post_slider_item item_1" data-number="1">
											<div class="sayit_slider_item_wrapper sayit_js_bg_image" > <%= image_tag ( "img3"), class: "sayit_slider_item_wrapper sayit_js_bg_image" %>
												<div class="sayit_overlay"></div>

												<div class="sayit_post_meta_cont">
                          <div class="sayit_post_category_cont">
														<%= link_to "Sign up now", signup_path%>
													</div>

													<h2 class="sayit_post_title"><a href="post_standard.html">The E Blog App</a></h2>

													<div class="sayit_post_slider_nav_buttons_cont">
														<a class="sayit_prev_post_slide_button sayit_inner_post_slide_button" href="javascript:void(0)" data-slide=".item_0" data-number="0"><i class="fa fa-angle-left"></i></a>
														<a class="sayit_next_post_slide_button sayit_inner_post_slide_button" href="javascript:void(0)" data-slide=".item_2" data-number="2"><i class="fa fa-angle-right"></i></a>
													</div>
												</div>
											</div>
										</div>

										<!-- Item 2 -->
										<div class="sayit_post_slider_item item_2" data-number="2">
											<div class="sayit_slider_item_wrapper sayit_js_bg_image" > <%= image_tag ( "img2"), class: "sayit_slider_item_wrapper sayit_js_bg_image" %>
												<div class="sayit_overlay"></div>

												<div class="sayit_post_meta_cont">
                          
													<div class="sayit_post_category_cont">
														<%= link_to "Sign up now", signup_path%>
													</div>

													<h2 class="sayit_post_title"><a href="post_image.html">The Best Blog App Ever</a></h2>

													<div class="sayit_post_slider_nav_buttons_cont">
														<a class="sayit_prev_post_slide_button sayit_inner_post_slide_button" href="javascript:void(0)" data-slide=".item_1" data-number="1"><i class="fa fa-angle-left"></i></a>
														<a class="sayit_next_post_slide_button sayit_inner_post_slide_button" href="javascript:void(0)" data-slide=".item_3" data-number="3"><i class="fa fa-angle-right"></i></a>
													</div>
												</div>
											</div>
										</div>

										<!-- Item 3 -->
										<div class="sayit_post_slider_item item_3" data-number="3">
											<div class="sayit_slider_item_wrapper sayit_js_bg_image" > <%= image_tag ( "img1"), class: "sayit_slider_item_wrapper sayit_js_bg_image" %>
												<div class="sayit_overlay"></div>

												<div class="sayit_post_meta_cont">
                          
                          <div class="sayit_post_category_cont">
														<%= link_to "Sign up now", signup_path%>
													</div>

													<h2 class="sayit_post_title"><a href="post_video.html">Blog away...</a></h2>

													<div class="sayit_post_slider_nav_buttons_cont">
														<a class="sayit_prev_post_slide_button sayit_inner_post_slide_button" href="javascript:void(0)" data-slide=".item_2" data-number="2"><i class="fa fa-angle-left"></i></a>
														<a class="sayit_next_post_slide_button sayit_inner_post_slide_button" href="javascript:void(0)" data-slide=".item_4" data-number="4"><i class="fa fa-angle-right"></i></a>
													</div>
												</div>
											</div>
										</div>

										<!-- Slider Navigation -->
										<div class="sayit_post_slider_nav">
											<a class="sayit_post_slider_nav_button button_1" href="javascript:void(0)" data-slide=".item_1"></a>
											<a class="sayit_post_slider_nav_button button_2" href="javascript:void(0)" data-slide=".item_2"></a>
											<a class="sayit_post_slider_nav_button button_3" href="javascript:void(0)" data-slide=".item_3"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>