<!DOCTYPE html>
<html lang="en" class="sayit_transparent_header sayit_sticky_menu_on sayit_page_mode_standard">
<head>
  
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   

  
	<title>E Blog</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  
</head>

<body class="sayit_js_bg_color" data-bgcolor="#ffffff">
	
  
	<div class="sayit_additional_overlay"></div>

	<!-- Header -->
	<%= render 'layouts/navigation' %>
	<div class="sayit_empty_item"></div>

	<div>
  <%= render 'layouts/messages' %>
    </div>
  
    <div class="container">
  <%= yield %>
    </div>
  <div>

  <%= render 'layouts/footer' %>
    </div>

</body>
</html>
